{% extends 'base.html' %}

{% block title %}Biblioteca - SeñaLiza{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4 fw-bold text-center">Biblioteca de Señas</h2>
  <p class="text-center">Recursos sobre la comunidad sorda</p>

  <h3 class="fw-bold mt-5">Alfabeto</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for gif in alfabeto %}
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <img src="{{ url_for('static', filename='GIFS/' + gif) }}" class="card-img-top p-3" alt="{{ gif.split('.')[0] }}">
        <div class="card-body">
          <h5 class="card-title">{{ gif.split('.')[0].capitalize() }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h3 class="fw-bold mt-5">Palabras Básicas</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for gif in palabras %}
    <div class="col">
      <div class="card h-100 text-center shadow-sm">
        <img src="{{ url_for('static', filename='GIFS/' + gif) }}" class="card-img-top p-3" alt="{{ gif.split('.')[0] }}">
        <div class="card-body">
          <h5 class="card-title">{{ gif.split('.')[0].replace('_', ' ').capitalize() }}</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
